.app-content{
    width: 600px;
    margin-top: 50px;
    padding:40px;
    background-color: #B9FFFD  ;
    margin-bottom: 50px;
}

@media(max-width: 650px){
    .app-content{
        margin:20px 20px 0;
        width: auto;
    }
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .text-center{
      
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center
  }
  h3{
      font-weight: 200;
  }
  h1{
      font-weight: 250;
    }
    h2{
        text-align: center;
    }
  .form-control{
      width: 70px;
   
      padding-left: 25px;
  }
  
  .form-group{
      padding-left: 110px;
  }
  
  .game{
      padding-left: 120px;
  }